

*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  width: 100%;
  min-height: 100VH;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg , #5075BF ,#8BB4D9,#324759);
}

h1{
  padding: 10px;
  margin-bottom: 20px;
}

.container{
  background-color: #fafafa;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  width: 400px;
  max-width: 100%;
  overflow: hidden;
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden;   
}

.header {
  background-color: #eee;
  padding: 20px;
}

form {
  padding: 20px;
}

div{
  padding-bottom: 10px;
  position: relative;
}

.separacao{
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.separacao label{
  display: inline-block;
  margin-bottom: 5px;
  font-size: 20px;
}

.separacao input{
  border: 2px solid #5050509a;
  width: 93%;
  display: block;
  border-radius: 10px;
  padding: 10px;
}

button{
  color: #eee;
  width: 100%;
  background-color: #324759;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}

button:hover{
  background-color: #5075BF;
  box-shadow: -5px 5px 10px black;
}

.aviso{
  color: red;
  visibility: hidden;
}

